@charset "UTF-8";
/* CSS Document */

body nav {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-name: example;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    /* Standard syntax */
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color:palevioletred; left:0px; top:0px;}
    25%  {background-color:papayawhip; left:0px; top:0px;}
    50%  {background-color:lightpink; left:0px; top:0px;}
    75%  {background-color:floralwhite; left:0px; top:0px;}
    100% {background-color:white; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:palevioletred; left:0px; top:0px;}
    25%  {background-color:papayawhip; left:0px; top:0px;}
    50%  {background-color:lightpink; left:0px; top:0px;}
    75%  {background-color:floralwhite; left:0px; top:0px;}
    100% {background-color:white; left:0px; top:0px;}
}
